.custom-content-rows {
    padding-top: 40px
}

@media only screen and (min-width:630px) {
    .custom-content-rows {
        padding: 34px 0 0
    }
}

@media only screen and (min-width:768px) {
    .custom-content-rows {
        padding: 0
    }
}

.rows--color .custom-content-row.row--even {
    background-color: #fffaf7
}

.custom-content-row--max-1900 {
    max-width: 1900px;
    margin-left: auto;
    margin-right: auto
}

.custom-content-row__container {
    max-width: 630px
}

@media only screen and (min-width:768px) {
    .custom-content-row__container {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        max-width: 1364px;
        padding: 40px 32px
    }
}

@media only screen and (min-width:992px) {
    .custom-content-row__container {
        padding: 80px 32px
    }
}

@media only screen and (min-width:768px) {
    .image--right .custom-content-row__container {
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }
}

@media only screen and (min-width:768px) {
    .custom-content-row__container--no-padding {
        padding: 0
    }
}

.custom-content-row__image-wrapper {
    display: block;
    position: relative
}

@media only screen and (min-width:768px) {
    .custom-content-row__image-wrapper {
        -ms-flex: 1;
        flex: 1;
        max-width: 630px
    }
}

.custom-content-row__image-v-text {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(90deg);
    transform-origin: 0 100%;
    font-weight: 900;
    font-size: 7vw;
    margin-bottom: 0
}

@media only screen and (min-width:768px) {
    .custom-content-row__image-v-text {
        font-size: 4vw
    }
}

@media only screen and (min-width:1440px) {
    .custom-content-row__image-v-text {
        font-size: 56px
    }
}

@media only screen and (min-width:768px) {
    .custom-content-row__content-wrapper {
        -ms-flex: 1;
        flex: 1;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        max-width: 630px
    }
}

.custom-content-row__content {
    width: 100%;
    padding: 16px 10px 47px;
    text-align: center;
    color: #222
}

@media only screen and (min-width:768px) {
    .custom-content-row__content {
        width: auto;
        display: inline-block;
        padding: 40px 20px;
        text-align: left
    }
}

.custom-content-row__title {
    margin-bottom: 12px;
    font-size: 30px;
    line-height: 43px;
    font-weight: 400
}

@media only screen and (min-width:992px) {
    .custom-content-row__title {
        max-width: 460px;
        font-size: 36px;
        line-height: 52px
    }
}

.custom-content-row__body {
    width: 100%;
    max-width: 340px;
    margin: 0 auto
}

@media only screen and (min-width:768px) {
    .custom-content-row__body {
        margin: 0
    }
}

@media only screen and (min-width:1200px) {
    .custom-content-row__body {
        max-width: 460px
    }
}

.custom-content-row__body p {
    color: inherit;
    font: inherit;
    font-size: 22px;
    line-height: 31px;
    margin-bottom: 28px
}

@media only screen and (max-width:374px) {
    .custom-content-row__cta-wrapper {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -ms-flex-align: center;
        align-items: center
    }
}

.custom-content-row__cta {
    margin-bottom: 15px;
    padding: 0;
    width: 145px;
    height: 45px;
    font-size: 13px;
    line-height: 45px
}

@media only screen and (min-width:375px) {
    .custom-content-row__cta:first-of-type {
        margin-right: 15px
    }
}

@media only screen and (min-width:992px) {
    .custom-content-row__cta {
        width: 190px
    }
}

.custom-content-row__bg {
    position: absolute;
    width: 100%
}

.custom-content-row__bg-image-wrapper {
    display: block;
    max-width: 100%
}

@media only screen and (min-width:768px) {
    .custom-content-row__bg-image-wrapper {
        max-width: 45%
    }
}

.custom-content-row__bg-image-wrapper--overlay {
    position: relative;
    margin-top: -35px;
    z-index: 2
}

.custom-content-row__icon-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
    margin: 12px 0 0
}

@media only screen and (min-width:480px) {
    .custom-content-row__icon-list {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }
}

@media only screen and (min-width:768px) {
    .custom-content-row__icon-list {
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: 36px 0 0
    }
}

@media only screen and (min-width:992px) {
    .custom-content-row__icon-list {
        margin: 72px 0 0
    }
}

.custom-content-row__icon-list-item {
    width: 50%;
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    text-align: center;
    margin-top: 24px
}

@media only screen and (min-width:480px) {
    .custom-content-row__icon-list-item {
        margin-top: 0
    }
}

@media only screen and (min-width:768px) {
    .custom-content-row__icon-list-item {
        width: auto;
        max-width: none;
        -ms-flex-preferred-size: auto;
        flex-basis: auto
    }
}

.custom-content-row__icon-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 12px;
    height: 40px
}

@media only screen and (min-width:992px) {
    .custom-content-row__icon-wrapper {
        height: 45px
    }
}

.custom-content-row__icon {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: bottom center;
    object-position: bottom center
}

.custom-content-rows__icon-list-text {
    margin-bottom: 0
}

.how-it-works {
    padding: 32px 0
}

@media only screen and (min-width:768px) {
    .how-it-works {
        padding: 60px 0
    }
}

@media only screen and (min-width:992px) {
    .how-it-works {
        padding: 100px 0
    }
}

.how-it-works__container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap
}

@media only screen and (min-width:768px) {
    .how-it-works__container {
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -ms-flex-align: center;
        align-items: center
    }
}

.how-it-works__content-wrapper {
    padding: 0 24px
}

@media only screen and (min-width:768px) {
    .how-it-works__content-wrapper {
        width: 50%;
        max-width: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        padding: 0
    }
}

.how-it-works__content {
    width: 100%;
    max-width: 470px;
    margin: 0 auto
}

@media only screen and (min-width:768px) {
    .how-it-works__content {
        padding: 24px 0
    }
}

.how-it-works__title {
    margin-bottom: 36px
}

@media only screen and (min-width:768px) {
    .how-it-works__title {
        margin-bottom: 60px
    }
}

.how-it-works__steps {
    counter-reset: step-counter;
    list-style: none;
    margin-left: 0
}

@media only screen and (min-width:768px) {
    .how-it-works__steps {
        margin-left: 24px
    }
}

.how-it-works__step {
    counter-increment: step-counter;
    margin-bottom: 36px
}

@media only screen and (min-width:480px) {
    .how-it-works__step {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center
    }
}

.how-it-works__step:before {
    content: counter(step-counter);
    display: block;
    width: 35px;
    max-width: 35px;
    -ms-flex-preferred-size: 35px;
    flex-basis: 35px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 35px;
    margin: 0 auto 12px;
    background-color: #171c8e;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    font-weight: 500
}

@media only screen and (min-width:480px) {
    .how-it-works__step:before {
        margin: 0
    }
}

.how-it-works__step-content {
    margin: 0 auto;
    max-width: 230px;
    text-align: center
}

@media only screen and (min-width:480px) {
    .how-it-works__step-content {
        text-align: left;
        margin: 0 0 0 16px;
        max-width: calc(100% - 35px)
    }
}

.how-it-works__step-content p {
    font: inherit;
    margin-bottom: 0
}

.how-it-works__anchor {
    font-weight: 400
}

.how-it-works__anchor p {
    font: inherit;
    margin-bottom: 0
}

.how-it-works__anchor a {
    color: inherit;
    pointer-events: none;
    text-decoration: underline
}

.how-it-works__anchor:hover a {
    color: #171c8e
}

.how-it-works__image-wrapper {
    margin-bottom: 36px;
    padding: 0 24px
}

@media only screen and (max-width:767px) {
    .how-it-works__image-wrapper {
        -ms-flex-order: -1;
        order: -1
    }
}

@media only screen and (min-width:768px) {
    .how-it-works__image-wrapper {
        width: 50%;
        max-width: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        margin-bottom: 0
    }
}

.how-it-works__image {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto
}

.icon-list {
    padding: 32px 0
}

@media only screen and (min-width:768px) {
    .icon-list {
        padding: 60px 0
    }
}

@media only screen and (min-width:992px) {
    .icon-list {
        padding: 100px 0
    }
}

.icon-list__container {
    padding: 0 24px
}

.icon-list__title {
    margin-bottom: 12px
}

@media only screen and (min-width:768px) {
    .icon-list__title {
        margin-bottom: 72px
    }
}

.icon-list__list {
    list-style: none;
    margin-left: 0
}

@media only screen and (min-width:768px) {
    .icon-list__list {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center
    }
}

.icon-list__item {
    width: 100%;
    max-width: 325px;
    margin: 36px auto 0;
    text-align: center
}

@media only screen and (min-width:768px) {
    .icon-list__item {
        margin: 0 36px
    }
}

.icon-list__image-wrapper {
    display: block;
    width: 100%;
    max-width: 75px;
    margin: 0 auto 24px
}

@media only screen and (min-width:768px) {
    .icon-list__image-wrapper {
        max-width: 100px;
        margin: 0 auto 36px
    }
}

.icon-list__image {
    width: 100%
}

.icon-list__item-title {
    margin-bottom: 12px
}

@media only screen and (min-width:768px) {
    .icon-list__item-title {
        margin-bottom: 16px
    }
}

.icon-list__item-content p {
    color: inherit;
    font: inherit;
    margin-bottom: 0
}

.link-tiles {
    padding: 36px 0
}

@media only screen and (min-width:768px) {
    .link-tiles {
        padding: 60px 0
    }
}

@media only screen and (min-width:992px) {
    .link-tiles {
        padding: 100px 0
    }
}

.link-tiles__header {
    margin-bottom: 24px
}

@media only screen and (min-width:768px) {
    .link-tiles__header {
        margin-bottom: 48px
    }
}

@media only screen and (min-width:992px) {
    .link-tiles__header {
        margin-bottom: 72px
    }
}

.link-tiles__tile-container {
    max-width: 100%;
    width: 480px;
    margin: 0 auto
}

@media only screen and (min-width:768px) {
    .link-tiles__tile-container {
        width: auto;
        margin: 0;
        padding: 0 36px;
        display: -ms-flexbox;
        display: flex
    }
}

.link-tile {
    margin-bottom: 12px;
    width: 100%
}

@media only screen and (min-width:480px) {
    .link-tile {
        padding: 0 12px
    }
}

@media only screen and (min-width:768px) {
    .link-tile {
        margin-bottom: 0
    }
}

@media only screen and (min-width:992px) {
    .link-tile {
        max-width: unset;
        padding: 0 24px
    }
}

@media only screen and (min-width:1200px) {
    .link-tile {
        padding: 0 32px
    }
}

.link-tile__inner {
    max-width: 575px;
    margin: 0 auto;
    padding: 16px 0 25px;
    background-color: #f7f7f7
}

@media only screen and (min-width:992px) {
    .link-tile__inner {
        padding: 0;
        background-color: transparent
    }
}

.link-tile__title {
    text-align: center;
    font-size: 26px;
    line-height: 30px;
    font-weight: 500
}

.link-tile__content {
    position: relative;
    transition: background-color .1s
}

@media only screen and (min-width:768px) {
    .link-tile__content {
        background-color: #f7f7f7
    }
    .link-tile__content:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: transparent;
        transition: background-color .3s;
        z-index: 1
    }
}

.link-tile__content:hover .link-tile__links {
    opacity: 1
}

@media only screen and (min-width:992px) {
    .link-tile__content:hover:after {
        background-color: hsla(0, 0%, 95%, .7)
    }
}

.link-tile__bg {
    position: relative;
    display: block;
    padding-top: 70%
}

.link-tile__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 25px;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center
}

.link-tile__links {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    transition: opacity .3s;
    z-index: 2
}

@media only screen and (min-width:992px) {
    .link-tile__links {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 0;
        opacity: 0
    }
}

.link-tile__link {
    position: relative;
    margin: 16px 6px 0;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700
}

@media only screen and (min-width:769px) {
    .link-tile__link {
        margin: 24px 12px 0
    }
}

.link-tile__link:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    transition: background-color .2s
}

.link-tile__link:after,
.link-tile__link:hover:after {
    background-color: #171c8e
}

@media only screen and (min-width:769px) {
    .link-tile__link {
        margin-top: 0
    }
    .link-tile__link:after {
        bottom: -12px;
        background-color: #e6e9eb
    }
}

.accordions {
    padding: 32px 0 48px
}

@media only screen and (min-width:768px) {
    .accordions {
        padding: 72px 0
    }
}

.accordions__container {
    padding: 0 24px;
    max-width: 480px
}

@media only screen and (min-width:768px) {
    .accordions__container {
        max-width: 748px
    }
}

.accordions__header {
    margin-bottom: 36px
}

@media only screen and (min-width:768px) {
    .accordions__header {
        margin-bottom: 72px
    }
}

.accordions__list {
    list-style: none;
    margin: 0;
    border-bottom: 1px solid #d2d4d6
}

@media only screen and (min-width:768px) {
    .accordions__list {
        border-width: 2px
    }
}

.accordion__toggle {
    width: 100%;
    padding: 0;
    border: 0;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
    font-family: BrandonGrotesque, sans-serif;
    border-top: 1px solid #d2d4d6
}

@media only screen and (min-width:768px) {
    .accordion__toggle {
        border-width: 2px
    }
}

.accordion__toggle:focus {
    outline: 0
}

.accordion__toggle-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 12px 0
}

@media only screen and (min-width:992px) {
    .accordion__toggle-wrapper {
        padding: 16px 0
    }
}

.accordion__toggle-wrapper:after {
    color: #171c8e;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: block;
    width: 32px;
    text-align: center;
    content: "+";
    font-size: 32px;
    font-weight: 500
}

@media only screen and (min-width:768px) {
    .is-active .accordion__toggle-wrapper {
        border-width: 2px
    }
}

.is-active .accordion__toggle-wrapper:after {
    content: "-"
}

span.accordion__title {
    display: inline-block;
    text-align: left;
    padding-right: 12px
}

@media only screen and (min-width:992px) {
    span.accordion__title {
        font-size: 24px
    }
}

div.accordion__content {
    display: none;
    padding: 4px 0;
    line-height: 1.5
}

div.accordion__content p {
    font: inherit
}

div.accordion__content a {
    text-decoration: underline
}

@media only screen and (min-width:992px) {
    .page__subscriptions .hero__content-wrapper {
        max-width: 1200px
    }
}

@media only screen and (max-width:479px) {
    .page__subscriptions .hero__content-wrapper {
        top: 50%;
        transform: translateY(-50%)
    }
}

@media only screen and (min-width:768px) {
    .page__subscriptions .hero__content {
        max-width: 400px
    }
}

@media only screen and (min-width:992px) {
    .page__subscriptions .hero__content {
        max-width: 65%
    }
}

.page__subscriptions .hero__title {
    margin-bottom: 12px;
    max-width: 100%
}

@media only screen and (max-width:640px) {
    .page__subscriptions .hero__title {
        margin-bottom: 24px
    }
}

@media only screen and (min-width:992px) {
    .page__subscriptions .hero__title {
        margin-bottom: 24px
    }
}

@media only screen and (max-width:640px) {
    .page__subscriptions .hero__subtitle {
        margin-bottom: 12px
    }
}

@media only screen and (min-width:768px) {
    .page__subscriptions .icon-list {
        padding-top: 0
    }
}

@media only screen and (max-width:767px) {
    .subscriptions-custom-content-row .custom-content-row__image-wrapper {
        display: none
    }
}

@media only screen and (min-width:768px) {
    .subscriptions-custom-content-row .custom-content-row__content {
        padding: 32px 20px
    }
}

.accordion-title {
    position: relative
}

.accordion-title:hover {
    cursor: pointer
}

.accordion-content {
    margin-left: 0;
    padding-top: .001px;
    padding-bottom: .001px;
    line-height: .001px;
    overflow: hidden;
    opacity: 0;
    transition: opacity .2s, line-height .2s ease .2s, padding .2s ease .2s
}

.is-open+.accordion-content {
    transition: opacity .2s ease .2s, line-height .2s ease .2s, padding .2s ease .2s
}